[Desktop Entry]
Type=Application
Name=Devmachine: clone developer repositories
Comment=Clones repositories from app_git_repos (Ansible-managed). Self-removes when done.
Exec={{ vm_owner_home }}/.local/bin/devmachine-clone-repos.sh
NoDisplay=true
Terminal=false
X-GNOME-Autostart-enabled=true
